{% extends "base.html" %}
{% block content %}     

<div class="loader" style="display: none" id="loading">
  <div class="title">Loading...</div>
  <div class="load">
    <div class="bar"></div>
  </div>
</div>

<script>
  $('#searchform').on('submit', function(e) {
  	$("#loading").show()
  })

$(document).ready(function(){
  function rotate(selector)
  {
    $(selector).animate( { left: $('.load').width() }, 1500, function(){
      $(selector).css("left", -($(selector).width()) + "px");
      rotate(selector);
    });
  }
  
  rotate('.bar');
});
</script>

{% endblock %}