<div class="alert alert-danger p-5">
    <h4> Execution time: {{time_diff}}</h4>
</div>

<div class="wrapper">
        <div class="loader">
          <div class="sq sq1"></div>
          <div class="sq sq2"></div>
          <div class="sq sq3"></div>
          <div class="sq sq4"></div>
          <div class="sq sq5"></div>
        </div>
      </div>
            
      <div class="alert alert-danger p-5" id="timer">0</div>
      <div class="alert alert-danger p-5 hidden" id="timer">0</div>

      <script>
        $('#searchform').on('submit', function(e) {
        })
      </script>